/* font-family: "Sofia Sans", sans-serif;
font-family: "Playfair Display", serif; */

.footer-light-container {
  font-family: "Playfair Display", serif;
  color: #f4f2f3;
  background-color: #31496b;
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.footer-light-container ul,
.footer-light-container li {
  margin: 1.5em 0;
  font-weight: 700;
}

.footer-help a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
.footer-about a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
.footer-plus a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.footer-help {
  width: 25%;
  padding: 2em 1em 2em 2em;
  text-align: center;
}

.footer-about,
.footer-plus {
  width: 25%;
  padding: 2em 1em;
  text-align: center;
}

.footer-plus {
  font-family: inherit;
  color: inherit;
}

.footer-help-links,
.footer-about-links {
  list-style: none;
  padding: 0;
}

.footer-btn {
  border: 0.1em solid #d6d1c4;
  border-radius: 2.5em;
  color: #d6d1c4;
  background: #aa210f;
  -webkit-text-stroke-width: 0.02em;
  -webkit-text-stroke-color: #31496b;
}

.footer-image {
  padding: 2em 2em 2em 3em;
}
.footer-image img {
  width: 25em;
  height: 25em;
  border-radius: 2em;
}
